.popover-title {
	list-style: none;

	li {
		float: left;
		padding: 4px 0 4px 24px;
		text-align: center;

		a {	
			font-weight: 700;
		}
	}
}
.popover {
	max-width: 100%;
	min-width: 1100px;
}
.popover-content{

	dl {
		box-sizing: border-box;
		padding: 0 0 0 50px;
		margin: 7px 0;
		text-align: center;
		
		dt {
			font-weight: 400;
			padding: 0 0 6px 0;
		}

		dd {
			font-size: 12px;
			font-weight: 100;
			padding: 0 0 4px 0;
		}
	}
}
// temp
.dis-n {
	display: none;
}