$dropdown-link-color: #555;
$dropdown-link-color-hover: #699a33;

.popover {
	padding: 0 0 1px 0;
}

.popover-title {
	padding: 8px 8px;
	float: left;
	list-style: none;

	li {
		padding: 10px 0 3px;
		text-align: center;
		white-space: nowrap;

		a {	
			color: $dropdown-link-color;
			font-weight: 700;

			&:hover {
				color: $dropdown-link-color-hover;
			}
		}
	}
}
.popover {
	max-width: 100%;
	min-width: 1170px;
}
.popover-content{
	float: left;
	dl {
		box-sizing: border-box;
		padding: 0 0 0 20px;
		margin: 0 0 10px 0;

		dt {
			float: left;
			font-weight: 400;
			margin: 0 10px 4px 0;

			a {
				color: $dropdown-link-color;

			&:hover {
				color: $dropdown-link-color-hover;
			}
			}
		}

		dd {
			float: left;
			font-size: 12px;
			font-weight: 100;
			margin: 0 8px 4px 0;

			a {
				color: $dropdown-link-color;

			&:hover {
				color: $dropdown-link-color-hover;
			}
			}
		}
	}
}