.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{left:0;top:0}.slick-track:after,.slick-track:before{content:"";display:table}.slick-track:after{clear:both}.slick-slide{float:left;height:100%;min-height:1px;display:none}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.input-group-title{text-align:center}.form-group.kiwi-input-group:nth-of-type(1){padding-top:10px}.form-group.kiwi-input-group .form-control{border-radius:5px}.form-group.kiwi-input-group input[type=checkbox]+a{display:inline-block;height:13px;line-height:13px;vertical-align:text-top}.modal-header{border:none;padding-bottom:0}.modal-body{padding:20px}.btn.account-login,.btn.account-signup{border-radius:20px}

// login modal
.account-content {
	.account-left {
		padding-right: 26px;
		border-right: 1px solid #ccc;
	}
	.account-right {
		padding-left: 26px;
	}
}

.input-group-title {
	text-align: center;
}

.form-group.kiwi-input-group {

	&:nth-of-type(1) {
		padding-top: 10px;
	}

	.form-control {
		border-radius: 5px;
	}

	input[type=checkbox] + a {
		display: inline-block;
		height: 13px;
		line-height: 13px;
		vertical-align: text-top;
	}
}

.modal-header {
	border: none;
	padding-bottom: 0;
}

.modal-body {
	padding: 10px 20px 115px;
}

.modal-content::after {
	position: absolute;
	top: 82%;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background: url(../images/img/icon-modal.png) no-repeat 30px 18px #699a33;
}

.btn.account-login, .btn.account-signup {
	border-radius: 20px;
}

// login&out button

.btn-group.float-right:hover .dropdown-menu {
	display: block;
}

.btn-group.float-right {
	.search-right {
		font-size: 18px;
	}
}

.dropdown-menu {
	>li {
		>a.maintainHover {
			color: #fff;
			background-color: #699a33;
		}
	}
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	text-decoration: none;
	color: #fff;
	background-color: #699a33;
}

.dropdown-menu {
	margin:0;

	>li>a {
	font-size: 18px;
	color: #555;
	font-weight: 100;
	padding: 10px 20px;
	}
}
