.label {
    padding: 0 .66em 0 0;
    vertical-align: baseline;
    font-size: 100%;
    color: #699a33;
}

.theme-krajee-fa .star {
    font-size: 34px;
    color: #699a33;
}

.theme-krajee-fa .caption {
    font-size: 41px;
    line-height: 41px;
}

.rating-md {
    line-height: 1;
}